[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/glad"]
	path = dependencies/glad
	url = https://github.com/pdpreez/glad.git
[submodule "dependencies/SDL"]
	path = dependencies/SDL
	url = https://github.com/pdpreez/SDL.git
