[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/glad"]
	path = dependencies/glad
	url = https://github.com/pdpreez/glad.git
[submodule "dependencies/SFML"]
	path = dependencies/SFML
	url = https://github.com/SFML/SFML.git
